apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: system-observability
spec:
  interval: 5m
  timeout: 10m
  dependsOn: []
  chart:
    spec:
      chart: grafana
      # renovate: datasource=helm depName=grafana package=grafana helmRepo=https://grafana.github.io/helm-charts
      version: 9.4.5
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: system-gitops
  values:
    image:
      # renovate: datasource=docker depName=grafana/grafana package=grafana/grafana
      tag: 12.3.0@sha256:70d9599b186ce287be0d2c5ba9a78acb2e86c1a68c9c41449454d0fc3eeb84e8
    downloadDashboardsImage:
      # renovate: datasource=docker depName=curlimages/curl package=curlimages/curl
      tag: 8.17.0@sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers: []
    dashboards: {}
    plugins: []
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources: []
