apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: system-observability
spec:
  interval: 5m
  timeout: 10m
  dependsOn: []
  chart:
    spec:
      chart: grafana
      # renovate: datasource=helm depName=grafana package=grafana helmRepo=https://grafana.github.io/helm-charts
      version: 10.3.2
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: system-gitops
  values:
    image:
      # renovate: datasource=docker depName=grafana/grafana package=grafana/grafana
      tag: 12.3.1@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    downloadDashboardsImage:
      # renovate: datasource=docker depName=curlimages/curl package=curlimages/curl
      tag: 8.17.0@sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40
    sidecar:
      dashboards:
        enabled: true
        label: grafana_dashboard
        labelValue: "1"
        folder: /var/lib/grafana/dashboards/sidecar
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers: []
    dashboards: {}
    plugins: []
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources: []
