# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
backend_override.tf

# Kubernetes
.kube/

# Talos
.talos/

# managed by windsor cli
.volumes/
.tf_modules/
terraform/**/backend_override.tf
contexts/**/.terraform/
contexts/**/.tfstate/
contexts/**/.kube/
contexts/**/.talos/
contexts/**/.aws/
