---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: fluentd
  namespace: system-observability
  labels:
    app.kubernetes.io/name: fluentd
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: fluentd
  endpoints:
    - port: prometheus
      path: /metrics
      interval: 30s
