---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnativepg
  namespace: system-database
spec:
  dependsOn:
    - name: kube-prometheus-stack
      namespace: system-telemetry
  values:
    monitoring:
      podMonitorEnabled: true
