apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: system-observability
spec:
  dependsOn:
    - name: quickwit
      namespace: system-observability
  values:
    plugins:
      - quickwit-quickwit-datasource
    # Dashboards are deployed via ConfigMap from vendored files
    # See: kustomize/observability/grafana/dashboards/quickwit/
