kind: Facet
apiVersion: blueprints.windsorcli.dev/v1alpha1
metadata:
  name: ingress
  description: "Configurable ingress controller"

when: ingress.enabled == true && ingress.driver == 'nginx'

kustomize:

# Ingress - Docker Desktop/Colima uses nodeport, otherwise LoadBalancer with optional coredns
- name: ingress
  path: ingress
  dependsOn:
    - pki-base
  components:
    - nginx
    - "${vm.driver == 'docker-desktop' ? 'nginx/nodeport' : 'nginx/loadbalancer'}"
    - nginx/web
    - "${addons.private_dns.enabled == true && vm.driver != 'docker-desktop' ? 'nginx/coredns' : ''}"
    - nginx/prometheus
  timeout: 10m
  interval: 5m
