apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: system-telemetry
spec:
  interval: 5m
  timeout: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      # renovate: datasource=helm depName=kube-prometheus-stack package=kube-prometheus-stack helmRepo=https://prometheus-community.github.io/helm-charts
      version: 57.0.3
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: system-gitops
  values:
    grafana:
      enabled: false
    kubeStateMetrics:
      enabled: true
    kube-state-metrics:
      image:
        # renovate: datasource=docker depName=registry.k8s.io/kube-state-metrics/kube-state-metrics package=registry.k8s.io/kube-state-metrics/kube-state-metrics
        tag: v2.13.0@sha256:639a1e2da549210adddc0391ff91e270e83f7873014aec53258462812f741e6f
    prometheusOperator:
      image:
        # renovate: datasource=docker depName=quay.io/prometheus-operator/prometheus-operator package=quay.io/prometheus-operator/prometheus-operator
        tag: v0.86.2@sha256:92757e4b90027e153dc09f2e01254c8402fd5268827d95532760836c2a117062
      admissionWebhooks:
        patch:
          image:
            # renovate: datasource=docker depName=registry.k8s.io/ingress-nginx/kube-webhook-certgen package=registry.k8s.io/ingress-nginx/kube-webhook-certgen
            tag: v20221220-controller-v1.5.1-58-g787ea74b6@sha256:4d99688e557396f5baa150e019ff7d5b7334f9b9f9a8dab64038c5c2a006f6b5
    prometheus:
      prometheusSpec:
        image:
          # renovate: datasource=docker depName=quay.io/prometheus/prometheus package=quay.io/prometheus/prometheus
          tag: v3.7.3@sha256:49214755b6153f90a597adcbff0252cc61069f8ab69ce8411285cd4a560e8038
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        serviceMonitorNamespaceSelector: { }
        serviceMonitorSelector: { }
        podMonitorNamespaceSelector: { }
        podMonitorSelector: { }
    nodeExporter:
      enabled: true
      replicas: 1
    prometheus-node-exporter:
      version: "1.8.2"
      image:
        # renovate: datasource=docker depName=quay.io/prometheus/node-exporter package=quay.io/prometheus/node-exporter
        tag: v1.8.2@sha256:4032c6d5bfd752342c3e631c2f1de93ba6b86c41db6b167b9a35372c139e7706
        digest: ""
