apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kibana
  namespace: system-observability
  annotations:
    cert-manager.io/cluster-issuer: private
spec:
  ingressClassName: nginx
  rules:
  - host: kibana.${DOMAIN:-test}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: kibana-kibana
            port:
              number: 5601
