apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: system-observability
spec:
  values:
    dashboards:
      grafana-dashboards-pki:
        cert-manager:
          # renovate: datasource=github-releases depName=monitoring-mixins/website
          url: https://raw.githubusercontent.com/monitoring-mixins/website/6dad726cb139c0692ce999a35695a9687b97a318/assets/cert-manager/dashboards/cert-manager-overview.json
          token: ''
