apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: system-observability
spec:
  dependsOn:
    - name: kube-prometheus-stack
      namespace: system-telemetry
  values:
    serviceMonitor:
      enabled: true
    # Dashboards moved to: dashboards/prometheus/
