---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: system-pki
spec:
  dependsOn:
    - name: kube-prometheus-stack
      namespace: system-telemetry
  values:
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
        labels:
          release: kube-prometheus-stack
