apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-pod-monitor
  namespace: system-gitops
spec:
  interval: 5m
  timeout: 10m
  chart:
    spec:
      chart: flux2
      # renovate: datasource=helm depName=flux package=flux2 helmRepo=https://fluxcd-community.github.io/helm-charts
      version: 2.17.1
      sourceRef:
        kind: HelmRepository
        name: fluxcd-community
        namespace: system-gitops
  values:
    cli:
      # renovate: datasource=docker depName=ghcr.io/fluxcd/flux-cli package=ghcr.io/fluxcd/flux-cli
      tag: v2.7.4@sha256:b9e4f7c6bc0f92615d8b0c8376afa725f0f6a64f45593b4318ae1c125d4f4ac3
    prometheus:
      podMonitor:
        create: true
    helmController:
      create: false
    imageAutomationController:
      create: false
    imageReflectionController:
      create: false
    kustomizeController:
      create: false
    notificationController:
      create: false
    sourceController:
      create: false
    policies:
      create: false
    rbac:
      create: false
      createAggregation: false
