apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: system-observability
spec:
  values:
    dashboards:
      grafana-dashboards-flux:
        control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/82c37257787bba13a40b17bed9bd8191ee7aa049/monitoring/configs/dashboards/control-plane.json
          token: ''
        cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/82c37257787bba13a40b17bed9bd8191ee7aa049/monitoring/configs/dashboards/cluster.json
          token: ''
